# DATA PRE-PROCESSING
This notebook aims to perform the data-preprocessing step and to save the cleaned data in a CSV file.

In [1]:
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import the class to clean the data
import sys
sys.path.append('../scripts')
from Clean_data import clean_data

In [3]:
# Import the data set
df = pd.read_csv("../data/Week1_challenge_data_source(CSV).csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [4]:
df['Bearer Id'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [5]:
print(f'The dataset has {df.shape[0]} observations/rows and {df.shape[1]} columns.')

The dataset has 150001 observations/rows and 55 columns.

In [6]:
try:
    del(DataClass)
except NameError:
    pass

In [7]:
DataClass = clean_data(df)

## Change the data to the right values
Let's change the data type to the right ones. As a matter of fact, the columns that store some values that could be consider as unique identifier should be transformed in object/text. It's the case of `Bearer Id`, `IMEI`, `MSISDN/Number` and `IMSI`

In [8]:
DataClass.right_type(objType=['Bearer Id','IMEI','MSISDN/Number','IMSI'])

In [9]:
DataClass.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  object
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  object
 7   MSISDN/Number                             148935 non-null  object
 8   IMEI                                      149429 non-null  object
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(46), object(9)
memory usage: 62.9+ MB

## Missing values
Let's check the miss values in our data set.

In [10]:
missingCountCol, missingCountTot, missingPerc = DataClass.missing_values()

The dataset contains 1031392 missing values in total
The missing values represent 12.5% of the values contained in the set
These values are distributed as follows:
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with 125000B < Vol DL              97538
TCP UL Retrans. Vol (Bytes)                  96649
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 6250B < Vol DL < 31250B       88317
TCP DL Retrans. Vol (Bytes)                  88146
HTTP UL (Bytes)                              81810
HTTP DL (Bytes)                              81474
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Last Location Name                            1153
MSISDN/Number                                 1066
Bearer Id                                      991
Nb of sec with Vol UL < 1250B                  793
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
Nb of sec with Vol DL < 6250B                  755
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
Handset Type                                   572
IMEI                                           572
Handset Manufacturer                           572
IMSI                                           570
Total UL (Bytes)                                 1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
End ms                                           1
Start ms                                         1
Start                                            1
End                                              1
Total DL (Bytes)                                 1
Dur. (ms)                                        1
Activity Duration DL (ms)                        1
Avg Bearer TP UL (kbps)                          1
Avg Bearer TP DL (kbps)                          1
Netflix DL (Bytes)                               0
Other UL (Bytes)                                 0
Other DL (Bytes)                                 0
Gaming UL (Bytes)                                0
Gaming DL (Bytes)                                0
Netflix UL (Bytes)                               0
Youtube UL (Bytes)                               0
Youtube DL (Bytes)                               0
Email UL (Bytes)                                 0
Google UL (Bytes)                                0
Google DL (Bytes)                                0
Social Media UL (Bytes)                          0
Social Media DL (Bytes)                          0
Email DL (Bytes)                                 0
dtype: int64

Before starting, one could easily notice that we only get the values related to the upload and download data per application. But we don't have for the total. So, one can just decide to remove it. But since we'have the information on the upload and download data, we'll keep it.</br>
Let's explore to see if we're able to find any relationship between the data used per application and the total.

In [11]:
DataClass.df.iloc[-1,:]

Bearer Id                                                NaN
Start                                                    NaN
Start ms                                                 NaN
End                                                      NaN
End ms                                                   NaN
Dur. (ms)                                                NaN
IMSI                                                     NaN
MSISDN/Number                                            NaN
IMEI                                                     NaN
Last Location Name                                       NaN
Avg RTT DL (ms)                                          NaN
Avg RTT UL (ms)                                          NaN
Avg Bearer TP DL (kbps)                                  NaN
Avg Bearer TP UL (kbps)                                  NaN
TCP DL Retrans. Vol (Bytes)                              NaN
TCP UL Retrans. Vol (Bytes)                              NaN
DL TP < 50 Kbps (%)                                      NaN
50 Kbps < DL TP < 250 Kbps (%)                           NaN
250 Kbps < DL TP < 1 Mbps (%)                            NaN
DL TP > 1 Mbps (%)                                       NaN
UL TP < 10 Kbps (%)                                      NaN
10 Kbps < UL TP < 50 Kbps (%)                            NaN
50 Kbps < UL TP < 300 Kbps (%)                           NaN
UL TP > 300 Kbps (%)                                     NaN
HTTP DL (Bytes)                                          NaN
HTTP UL (Bytes)                                          NaN
Activity Duration DL (ms)                                NaN
Activity Duration UL (ms)                                NaN
Dur. (ms).1                                              NaN
Handset Manufacturer                                     NaN
Handset Type                                             NaN
Nb of sec with 125000B < Vol DL                          NaN
Nb of sec with 1250B < Vol UL < 6250B                    NaN
Nb of sec with 31250B < Vol DL < 125000B                 NaN
Nb of sec with 37500B < Vol UL                           NaN
Nb of sec with 6250B < Vol DL < 31250B                   NaN
Nb of sec with 6250B < Vol UL < 37500B                   NaN
Nb of sec with Vol DL < 6250B                            NaN
Nb of sec with Vol UL < 1250B                            NaN
Social Media DL (Bytes)                       1795321.773647
Social Media UL (Bytes)                          32928.43438
Google DL (Bytes)                             5750752.619287
Google UL (Bytes)                             2056541.926287
Email DL (Bytes)                               1791728.86802
Email UL (Bytes)                                467373.44194
Youtube DL (Bytes)                             11634072.5039
Youtube UL (Bytes)                             11009410.1347
Netflix DL (Bytes)                            11626851.71874
Netflix UL (Bytes)                            11001754.81964
Gaming DL (Bytes)                           422044702.595373
Gaming UL (Bytes)                             8288398.110733
Other DL (Bytes)                            421100544.194493
Other UL (Bytes)                              8264799.424427
Total UL (Bytes)                                         NaN
Total DL (Bytes)                                         NaN
Name: 150000, dtype: object

In [12]:
# Compute the total of UL data
#TotalULMe = 
DataClass.df[-1:].loc[:,['Social Media UL (Bytes)','Google UL (Bytes)','Email UL (Bytes)','Youtube UL (Bytes)',
                         'Netflix UL (Bytes)','Gaming UL (Bytes)','Other UL (Bytes)']]
#TotalULMe.sum(1)

,Social Media UL (Bytes),Google UL (Bytes),Email UL (Bytes),Youtube UL (Bytes),Netflix UL (Bytes),Gaming UL (Bytes),Other UL (Bytes)
150000,32928.43438,2.056542e+06,467373.44194,1.100941e+07,1.100175e+07,8.288398e+06,8.264799e+06

In [13]:
# Compute the total of UL data
TotalULMe = DataClass.df[:-1].loc[:,['Social Media UL (Bytes)','Google UL (Bytes)','Email UL (Bytes)','Youtube UL (Bytes)',
                         'Netflix UL (Bytes)','Gaming UL (Bytes)','Other UL (Bytes)']].sum(1)
(TotalULMe != DataClass.df[:-1].loc[:,'Total UL (Bytes)']).sum()

0

In [14]:
# Compute the total of DL data
TotalDLMe = DataClass.df[:-1].loc[:,['Social Media DL (Bytes)','Google DL (Bytes)','Email DL (Bytes)','Youtube DL (Bytes)',
                         'Netflix DL (Bytes)','Gaming DL (Bytes)']].sum(1)
(TotalDLMe != DataClass.df[:-1].loc[:,'Total DL (Bytes)']).sum()

0

One should notice that Total UL is equal to the sum of used data per application and other.
The same Total DL is equal to the sum of used data per application (without others).
Understanding these relations will help us to find the right value for the Total UL and DL for the last row/observation. Let's fill it now!

In [15]:
# Fill total UL for the last user
DataClass.df.iloc[-1:,:].loc[:,'Total UL (Bytes)'] = DataClass.df.iloc[-1:].loc[:,['Social Media UL (Bytes)','Google UL (Bytes)','Email UL (Bytes)','Youtube UL (Bytes)','Netflix UL (Bytes)','Gaming UL (Bytes)','Other UL (Bytes)']].sum(1)

C:\Users\sedam\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [16]:
# Check for UL Data
TotalULMe = DataClass.df.loc[:,['Social Media UL (Bytes)','Google UL (Bytes)','Email UL (Bytes)','Youtube UL (Bytes)',
                         'Netflix UL (Bytes)','Gaming UL (Bytes)','Other UL (Bytes)']].sum(1)
(TotalULMe != DataClass.df.loc[:,'Total UL (Bytes)']).sum()

0

In [17]:
# Fill total DL for the last user
DataClass.df.iloc[-1:,:].loc[:,'Total DL (Bytes)'] = DataClass.df.iloc[-1:].loc[:,['Social Media DL (Bytes)','Google DL (Bytes)','Email DL (Bytes)','Youtube DL (Bytes)','Netflix DL (Bytes)','Gaming DL (Bytes)']].sum(1)

C:\Users\sedam\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [18]:
# Check for DL data
TotalDLMe = DataClass.df.loc[:,['Social Media DL (Bytes)','Google DL (Bytes)','Email DL (Bytes)','Youtube DL (Bytes)',
                         'Netflix DL (Bytes)','Gaming DL (Bytes)']].sum(1)
(TotalDLMe != DataClass.df.loc[:,'Total DL (Bytes)']).sum()

0

In [19]:
DataClass.missing_values()[1]

The dataset contains 1031390 missing values in total
The missing values represent 12.5% of the values contained in the set
These values are distributed as follows:
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with 125000B < Vol DL              97538
TCP UL Retrans. Vol (Bytes)                  96649
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 6250B < Vol DL < 31250B       88317
TCP DL Retrans. Vol (Bytes)                  88146
HTTP UL (Bytes)                              81810
HTTP DL (Bytes)                              81474
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Last Location Name                            1153
MSISDN/Number                                 1066
Bearer Id                                      991
Nb of sec with Vol UL < 1250B                  793
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
Nb of sec with Vol DL < 6250B                  755
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
Handset Manufacturer                           572
IMEI                                           572
Handset Type                                   572
IMSI                                           570
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Activity Duration DL (ms)                        1
Avg Bearer TP UL (kbps)                          1
Avg Bearer TP DL (kbps)                          1
Dur. (ms)                                        1
End ms                                           1
End                                              1
Start ms                                         1
Start                                            1
Netflix DL (Bytes)                               0
Total UL (Bytes)                                 0
Other UL (Bytes)                                 0
Other DL (Bytes)                                 0
Gaming UL (Bytes)                                0
Gaming DL (Bytes)                                0
Netflix UL (Bytes)                               0
Google UL (Bytes)                                0
Youtube UL (Bytes)                               0
Youtube DL (Bytes)                               0
Email UL (Bytes)                                 0
Email DL (Bytes)                                 0
Google DL (Bytes)                                0
Social Media UL (Bytes)                          0
Social Media DL (Bytes)                          0
Total DL (Bytes)                                 0
dtype: int64

1031390

Our data $12.47\%$ of missing values. One could decide to impute the data but first of all let's dive inside the missing values to understand those missing values.
* Firstly, since `IMSI`, `MSISDN/Number` and `IMEI` could be considered as unique identifier, it won't make any sense to impute them. Using an imputation method would generate the same identifier and this could lead to a bias in the analysis. 
* Secondly, we will not impute the missing values of the categorical variable as `Handset Manufacturer` and `Handset Type`.
Now, we can make the imputation for the numerical data. The data imputation will be done using either the mean (if the $\vert skewness\vert<1$) or the median (otherwise). To do so, we'll use a function we wrote named `fillingMissing`

In [20]:
DataClass.fillMissing()
DataClass.missing_values()[1]

The dataset contains 5498 missing values in total
The missing values represent 0.07% of the values contained in the set
These values are distributed as follows:
Last Location Name                          1153
MSISDN/Number                               1066
Bearer Id                                    991
Handset Manufacturer                         572
IMEI                                         572
Handset Type                                 572
IMSI                                         570
End                                            1
Start                                          1
Google DL (Bytes)                              0
Total UL (Bytes)                               0
Nb of sec with 31250B < Vol DL < 125000B       0
Nb of sec with 37500B < Vol UL                 0
Nb of sec with 6250B < Vol DL < 31250B         0
Nb of sec with 6250B < Vol UL < 37500B         0
Nb of sec with Vol DL < 6250B                  0
Nb of sec with Vol UL < 1250B                  0
Social Media DL (Bytes)                        0
Social Media UL (Bytes)                        0
Google UL (Bytes)                              0
Other DL (Bytes)                               0
Email DL (Bytes)                               0
Email UL (Bytes)                               0
Nb of sec with 1250B < Vol UL < 6250B          0
Youtube UL (Bytes)                             0
Netflix DL (Bytes)                             0
Netflix UL (Bytes)                             0
Gaming DL (Bytes)                              0
Gaming UL (Bytes)                              0
Other UL (Bytes)                               0
Youtube DL (Bytes)                             0
Activity Duration UL (ms)                      0
Nb of sec with 125000B < Vol DL                0
DL TP < 50 Kbps (%)                            0
Start ms                                       0
End ms                                         0
Dur. (ms)                                      0
Avg RTT DL (ms)                                0
Avg RTT UL (ms)                                0
Avg Bearer TP DL (kbps)                        0
Avg Bearer TP UL (kbps)                        0
TCP DL Retrans. Vol (Bytes)                    0
TCP UL Retrans. Vol (Bytes)                    0
50 Kbps < DL TP < 250 Kbps (%)                 0
Dur. (ms).1                                    0
250 Kbps < DL TP < 1 Mbps (%)                  0
DL TP > 1 Mbps (%)                             0
UL TP < 10 Kbps (%)                            0
10 Kbps < UL TP < 50 Kbps (%)                  0
50 Kbps < UL TP < 300 Kbps (%)                 0
UL TP > 300 Kbps (%)                           0
HTTP DL (Bytes)                                0
HTTP UL (Bytes)                                0
Activity Duration DL (ms)                      0
Total DL (Bytes)                               0
dtype: int64

5498

## Deal with the outliers

In [21]:
# Function to deal with the outliers
def fix_outlier(df, column):
    if column==None:
        column = df.select_dtypes([np.number]).columns
    df[column] = np.where((df[column] > df[column].quantile(0.75)+1.5*(df[column].quantile(0.75)-df[column].quantile(0.25))) | (df[column] < df[column].quantile(0.25)-1.5*(df[column].quantile(0.75)-df[column].quantile(0.25))), df[column].median(),df[column])
    
    return df[column]

In [22]:
numcol = DataClass.df.select_dtypes([np.number]).columns
numcol

Index(['Start ms', 'End ms', 'Dur. (ms)', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)',
       'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1',
       'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [23]:
dfClean = DataClass.df.copy()

In [24]:
dfClean[numcol] = fix_outlier(dfClean,None)

In [25]:
# Correct the column name for duration
dfClean = dfClean.rename(columns={'Dur. (ms)':'Dur. (s)'})

In [26]:
# Export the data to csv format
dfClean.to_csv("../data/Cleaned_Data.csv",index=False)